/* GLOBAL STYLES START */

/*csslint box-sizing: false*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  max-width: 96em;
  margin: 0 auto;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.6;
}

body > header {
  text-align: center;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

header h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 95%;
  margin: 1em auto;
}

.banner {
  height: 6.313em;
  overflow: hidden;
  text-align: left;
  background: url(../img/headerExtender.gif);
  background-repeat: repeat-x;
  background-size: contain;
}

.banner img {
  width: auto;
  height: 6.313em;
}

.navbar {
  min-width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  text-align: center;

  color: #fff;
  background-color: #dc002a;
}

.navbar .nav {
  font-weight: bold;

  flex: 1;
}

.navbar .nav a {
  display: block;

  padding: 0.5em;

  transition: .3s background-color;
  text-decoration: none;

  color: #fff;
}

.navbar .nav a:hover,
.navbar .nav a:active,
.navbar .nav.active a {
  background-color: #eee;
  color: #222;
}

.nav-logo {
  margin: 0 1em;
  height: 2em;
  width: 1.5em;

  background-image: url(../img/navbutton.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Responsive iFrame */
/* http://themeloom.com/2013/02/tips-embed-google-maps-and-calendars-in-a-responsive-wordpress-theme/ */ 
.calendar {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  /* Off by default, turned on by Media Query */
  display: none;
}
 
.calendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* GLOBAL STYLES END */

/* LOGIN-SPECIFIC STYLES START */

.login {
  position: absolute;

  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;

  border: 1em solid #dc002a; /* Hawk Red */
}

.login .page-greeting {
  font-size: 3em;
}

.login > main {
  text-align: center;
}

.login form {
  margin-top: 2em;
}

.login input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 1ex;
}

.login input[type="text"],
.login input[type="password"] {
  margin-bottom: 2em;
  padding-left: 3em;

  border: none;
  border-bottom: thin solid black;

  background-repeat: no-repeat;
  background-attachment: scroll;
}

.login input[type="text"] {
  background-image: url(../img/user.svg);
}

.login input[type="password"] {
  background-image: url(../img/key.svg);
}

.login input[type="submit"]:hover {
  color: grey;
}

.login input[type="submit"] {
  margin-bottom: 1em;
}

.login label {
  display: none;
}

.login .logo {
  width: 20vh;
  height: auto;
}

.login .security {
  text-align: center;
  margin-left: 25%;
  max-width: 50%;
}

.login .security img {
  width: auto;
  height: 1em;
}

/* LOGIN-SPECIFIC STYLES END */

/* INDEX-SPECIFIC STYLES START */
.greeting {
  margin: 1em 0;

  font-weight: bold;
  font-style: italic;
}

.news {
  display: block;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.news header h3 {
	border-style: solid;
	text-align: center;
	color: #fff;
	background-color: #dc002a;
}

.kaplan {
  width: 100%;
  height: auto;
}

.human-design {
  width: 100%;
  height: auto;
}

.iitmag {
  width: 100%;
  height: auto;
}

/* INDEX-SPECIFIC STYLES END */

/* COURSE SEARCH SPECIFIC STYLES START */
.course-lookup-page .container > main {
  max-width: none;
}

#search-form {
  background-color: #eee;
  padding: 1em;
  border: 0.1em solid #000;
  border-radius: 0.4em;
}
#search {
  width: 100%;
  padding: 0.25em 0;
  margin-bottom: 1em;
}
#search-options {
  clear: both;
}
.options {
  font-size: 0.8em;
  margin-bottom: 1em;
}
.options label {
  display: block;
  margin-top: 0.5em;
}

article.course {
  border: 1px solid #ccc;
  margin-top: 1.5em;
  border-radius: 0.4em;
  background-color: #fff;
}

article.course header,
article.course footer {
  background-color: #eee;
  padding: 0.5em;
}

article.course footer {
  padding-bottom: 0;
}

article.course header {
  border-bottom: 0.1em solid #ccc;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

article.course header h3 {
  margin: 0;
  text-align: center;
  font-size: 1em;
}

article.course .course-info {
  font-size: 0.8em;
  padding: 0 1em;
}

.tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tags li {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0.4em;
}

.button {
  display: inline-block;
  padding: 0.25em 0.5em;
  background: #fff;
  border: 0.1em solid #000;
  border-radius: 0.4em;
  color: #000;
  text-decoration: none;
}

article.course footer .button {
  margin-bottom: 0.5em;
}

.button.button-small {
  font-size: 0.9em;
}

.sections {
  width: 100%;
  table-layout: fixed;
}

.sections caption {
  font-weight: bold;
  font-size: 1.1em;
}

.sections td,
.sections th {
  padding: 0.5em 0.75em;
}

.sections th {
  text-align: left;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.25em;
}

.sections .crn {
  white-space: nowrap;
}

.sections table.footable-details tbody th {
  width: 6em !important;
}

article.course footer {
  border-top: 0.1em solid #ccc;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

aside h3 {
  margin: 0 0 0.2em;
  text-align: center;
}

#cart {
  text-align: center;
}

#cart ul {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#cart li {
  display: block;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 1em;
}

#cart li:hover,
#cart li:active {
  background-color: #eee;
}

#cart li:first-child {
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

#cart li:last-child {
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

#cart li > div {
  width: 78%;
  display: inline-block;
  padding-right: 2%;
  text-align: left;
}

#cart > a {
  margin: 1em auto;
}

.schedule-container {
  position: relative;
}

.schedule-container #hours,
.schedule-container #schedule {
  font-size: 0.8em;
  height: 40em;
}

.schedule-container table {
  width: 100%;
  height: 100%;
}

#hours {
  width: 3em;
  color: #5F5F5F;
  background: #CFCFCF;
  border: 0.1em solid #7F7F7F;
}

#hours td {
  padding: 2px 4px 0 0;
  text-align: right;
}

#hours tr + tr td {
  border-top: 1px solid #7F7F7F;
}

#schedule {
  cursor: default;
  position: absolute;
  left: 3em;
  top: 0;
  color: black;
  background: white;
  border: 1px solid #7F7F7F;
}

#schedule td {
  padding: 0.1em 0.2em 0 0;
  width: 20em;
  background: white;
}

#schedule td.weekend {
  background: #F3F3F3;
}

#schedule td + td {
  border-left: 1px solid #CFCFCF;
}

#schedule tr + tr td {
  border-top: 1px solid #CFCFCF;
}

/* Start day names */
#schedule tr:first-child td {
  position: relative;
}
#schedule tr:first-child td::before {
  position: absolute;
  width: 2em;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0.2em;
}
#schedule tr:first-child td.weekend:first-child::before {
  content: 'SUN';
}
#schedule tr:first-child td.weekend:last-child::before {
  content: 'SAT';
}
#schedule tr:first-child td:not(.weekend):nth-child(1)::before,
#schedule tr:first-child td.weekend + td:not(.weekend):nth-child(2)::before {
  content: 'MON';
}
#schedule tr:first-child td:not(.weekend):nth-child(2)::before,
#schedule tr:first-child td.weekend ~ td:not(.weekend):nth-child(3)::before {
  content: 'TUES';
}
#schedule tr:first-child td:not(.weekend):nth-child(3)::before,
#schedule tr:first-child td.weekend ~ td:not(.weekend):nth-child(4)::before {
  content: 'WED';
}
#schedule tr:first-child td:not(.weekend):nth-child(4)::before,
#schedule tr:first-child td.weekend ~ td:not(.weekend):nth-child(5)::before {
  content: 'THUR';
}
#schedule tr:first-child td:not(.weekend):nth-child(5)::before,
#schedule tr:first-child td.weekend ~ td:not(.weekend):nth-child(6)::before {
  content: 'FRI';
}
/* End day names */

.color0, .color7, .color14 { background: #FFBF7F; }
.color1, .color8, .color15 { background: #FFFF7F; }
.color2, .color9, .color16 { background: #BFFF7F; }
.color3, .color10, .color17 { background: #9FCFFF; }
.color4, .color11, .color18 { background: #BF7FFF; }
.color5, .color12, .color19 { background: #FF9FCF; }
.color6, .color13, .color20 { background: #BFBFBF; }

.block {
  padding: 0.1em 0.15em;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 0.1em solid black;
  line-height: 0.75em;
  white-space: nowrap;
}
/* COURSE SEARCH SPECIFIC STYLES END */

/* ACADEMIC-SPECIFIC STYLES START */
.academics table {
  display: block;
  margin-left: 30%;
  text-align: left;
}
/* ACADEMIC-SPECIFIC STYLES END */

/* MEDIA QUERIES START */
@media screen and (min-width: 72em) {
  .course-lookup-page .container {
    display: flex;
  }
  .course-lookup-page main {
    flex: 70;
    margin-right: 1em;
  }
  .course-lookup-page aside {
    flex: 30;
  }
  #cart li .button {
    width: 4em;
  }
}
@media screen and (min-width: 48em) {
  .navbar {
    display: flex;
  }

  .calendar {
    display: block;
  }
}
@media screen and (min-width: 32em) {
  #search-options {
    display: flex;
  }
  .options {
    flex: 1;
  }
}
/* MEDIA QUERIES END */
