/*csslint box-sizing: false*/
body {
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body > header {
  text-align: center;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

header h1 {
  font-size: 3em;
}

.container {
  max-width: 95%;
  margin: 1em auto;
}

/* LOGIN-SPECIFIC STYLES START */

.login {
  position: absolute;

  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;

  border: 1em solid #dc002a; /* Hawk Red */
}

.login .page-greeting {
  font-size: 3em;
}

.login > main {
  text-align: center;
}

.login form {
  margin-top: 2em;
}

.login input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 1ex;
}

.login input[type="text"],
.login input[type="password"] {
  margin-bottom: 2em;

  border: none;
  border-bottom: thin solid black;

  background-repeat: no-repeat;
  background-attachment: scroll;
}

.login input[type="text"] {
  padding-left: 3em;

  background-image: url(img/user.svg);
}

.login input[type="password"] {
  padding-left: 3em;

  background-image: url(img/key.svg);
}

.login input[type="submit"]:hover {
  color: grey;
}

.login label {
  display: none;
}

.login .logo {
  width: 20vh;
  height: auto;
}

.banner {
  text-align: left;

  background: url(img/headerExtender.gif);
  background-repeat: repeat-x;
}

.banner img {
  width: 800px;
  height: 101px;
}

/* LOGIN-SPECIFIC STYLES END */

/* INDEX-SPECIFIC STYLES START */
.navbar {
  min-width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  text-align: center;

  color: #fff;
  background-color: #dc002a;
}

.navbar .nav {
  font-weight: bold;

  flex: 1;
}

.navbar .nav a {
  display: block;

  padding: 0.5em;

  transition: .3s background-color;
  text-decoration: none;

  color: #fff;
}

.navbar .nav a:hover,
.navbar .nav a:active {
  background-color: #42bcff;
}

.navbar .nav .active {
  cursor: default;

  color: #444;
  background-color: #fff;
}


.nav-logo {
  margin: 0 1em;
  height: 2em;
  width: 1.5em;

  background-image: url(img/navbutton.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.greeting {
  margin: 1em 0;

  font-weight: bold;
  font-style: italic;
}

#news {
  display: block;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
/* INDEX-SPECIFIC STYLES END */

/* COURSE SEARCH SPECIFIC STYLES START */
#search-form {
  background-color: #eee;
  padding: 1em;
  border: 0.1em solid #000;
}
#search,
#search + button {
  display: block;
  float: left;
  padding: 0.25em;
  margin-bottom: 1em;
}
input#search {
  width: 93%;
}
#search + button {
  width: 5%;
}
#search-options {
  display: flex;
  clear: both;
}
.options {
  flex: 1;
  font-size: 0.8em;
}
.options label {
  display: block;
}

#search-results {
  font-size: 0.8em;
}

#cart ul {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#cart button.close {
  margin: 0.5em;
}
/* COURSE SEARCH SPECIFIC STYLES END */

/* MEDIA QUERIES START */
@media screen and (min-width: 48em) {
  .navbar {
    display: flex;
  }
  
  .course-lookup-page main {
    width: 60%;
    float: left;
    margin-right: 1em;
  }

  .course-lookup-page aside {
    float: left;
    width: 37%;
  }
}
/* MEDIA QUERIES END */
