/*csslint box-sizing: false*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body > header {
  text-align: center;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

header h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

.container {
  max-width: 95%;
  margin: 1em auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* LOGIN-SPECIFIC STYLES START */

.login {
  position: absolute;

  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;

  border: 1em solid #dc002a; /* Hawk Red */
}

.login .page-greeting {
  font-size: 3em;
}

.login > main {
  text-align: center;
}

.login form {
  margin-top: 2em;
}

.login input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 1ex;
}

.login input[type="text"],
.login input[type="password"] {
  margin-bottom: 2em;

  border: none;
  border-bottom: thin solid black;

  background-repeat: no-repeat;
  background-attachment: scroll;
}

.login input[type="text"] {
  padding-left: 3em;

  background-image: url(img/user.svg);
}

.login input[type="password"] {
  padding-left: 3em;

  background-image: url(img/key.svg);
}

.login input[type="submit"]:hover {
  color: grey;
}

.login label {
  display: none;
}

.login .logo {
  width: 20vh;
  height: auto;
}

.banner {
  width: 100%;
  overflow: hidden;
  text-align: left;

  background: url(img/headerExtender.gif);
  background-repeat: repeat-x;
}

.banner img {
  width: 800px;
  height: 101px;
}

/* LOGIN-SPECIFIC STYLES END */

/* INDEX-SPECIFIC STYLES START */
.navbar {
  min-width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  text-align: center;

  color: #fff;
  background-color: #dc002a;
}

.navbar .nav {
  font-weight: bold;

  flex: 1;
}

.navbar .nav a {
  display: block;

  padding: 0.5em;

  transition: .3s background-color;
  text-decoration: none;

  color: #fff;
}

.navbar .nav a:hover,
.navbar .nav a:active,
.navbar .nav.active a {
  background-color: #eee;
  color: #222;
}

.nav-logo {
  margin: 0 1em;
  height: 2em;
  width: 1.5em;

  background-image: url(img/navbutton.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.greeting {
  margin: 1em 0;

  font-weight: bold;
  font-style: italic;
}

#news {
  display: block;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.kaplan {
  width: 100%;
  height: auto;
}
/* INDEX-SPECIFIC STYLES END */

/* COURSE SEARCH SPECIFIC STYLES START */
#search-form {
  background-color: #eee;
  padding: 1em;
  border: 0.1em solid #000;
  border-radius: 0.4em;
}
#search {
  width: 100%;
  padding: 0.25em 0;
  margin-bottom: 1em;
}
#search-options {
  clear: both;
}
.options {
  font-size: 0.8em;
  margin-bottom: 1em;
}
.options label {
  display: block;
  margin-top: 0.5em;
}

article.course {
  border: 1px solid #ccc;
  margin-top: 1.5em;
  border-radius: 0.4em;
  background-color: #fff;
}

article.course header,
article.course footer {
  background-color: #eee;
  padding: 0.5em;
}

article.course header {
  border-bottom: 0.1em solid #ccc;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

article.course header h3 {
  margin: 0;
  text-align: center;
  font-size: 1em;
}

article.course .course-info {
  font-size: 0.8em;
  line-height: 1.5;
  padding: 0 1em;
}

.tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tags li {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0.4em;
}

.button {
  display: inline-block;
  padding: 0.25em 0.5em;
  background: #fff;
  border: 0.1em solid #000;
  border-radius: 0.4em;
  color: #000;
  text-decoration: none;
}

.button.button-small {
  font-size: 0.9em;
}

.sections {
  width: 100%;
  table-layout: fixed;
}

.sections caption {
  font-weight: bold;
  font-size: 1.1em;
}

.sections td,
.sections th {
  padding: 0.5em 0.75em;
}

.sections th {
  text-align: left;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.25em;
}

.sections .crn,
.sections .time {
  white-space: nowrap;
  min-width: 10em;
}

.location, .waitlist {
  display: none;
}

article.course footer {
  border-top: 0.1em solid #ccc;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

#cart ul {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#cart button.close {
  margin: 0.5em;
}
/* COURSE SEARCH SPECIFIC STYLES END */

/* MEDIA QUERIES START */
@media screen and (min-width: 80em) {
  .waitlist {
    display: table-cell;
  }
}

@media screen and (min-width: 60em) {
  .course-lookup-page main {
    width: 70%;
    float: left;
    margin-right: 1em;
  }

  .course-lookup-page aside {
    float: left;
    width: 27%;
  }
  .location {
    display: table-cell;
  }
}
@media screen and (min-width: 48em) {
  .navbar {
    display: flex;
  }
}
@media screen and (min-width: 32em) {
  #search-options {
    display: flex;
  }
  .options {
    flex: 1;
  }
}
/* MEDIA QUERIES END */
