body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
}

strong {
  font-weight: bold;
}

body > header {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

header h1 {
  font-size: 3em;
}

form {
  margin-top: 2em;
}

/* LOGIN-SPECIFIC STYLES START */

body#login {
  box-sizing: border-box;
  border: 1em solid #dc002a; /* Hawk Red */
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

body#login > main {
  text-align: center;
}

body#login input {
  width: 50%;
  padding: 1ex;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body#login input[type="text"],
body#login input[type="password"] {
  border: none;
  border-bottom: thin solid black;
  margin-bottom: 2em;
}

body#login input[type="text"] {
  background: url(img/user.svg) no-repeat scroll;
  padding-left: 3em;
}

body#login input[type="password"] {
  background: url(img/key.svg) no-repeat scroll;
  padding-left: 3em;
}

body#login input[type=submit]:hover {
  color: grey;
}

body#login label {
  display: none;
}

img.logo {
  width: 25%;
  height: 25%;
}

#banner {
  text-align: left;
  background: url(img/headerExtender.gif);
  background-repeat: repeat-x;
}

/* LOGIN-SPECIFIC STYLES END */

/* INDEX-SPECIFIC STYLES STARTS */
.navwrapper ul {
	background-color: #dc002a;
  	text-align: center;
  	padding: .2em;
  	margin: 0;
  	list-style-type: none;
  	color: #fff;
  	min-width: 100%;
  	font-family: 'Droid Sans', sans-serif;
}

.navwrapper ul {
	display: flex;
}

.navwrapper li {
  	font-family: 'Droid Sans', sans-serif;
  	font-size: 0.60em;
  	font-weight: bold;
  	height: 2.5em;
  	padding: .2em 0.5em 0.5em 0.5em;
}


#navbutton {
	flex: 1;
	text-align: left;
  	height: 100%;
  	margin-top: 1em;
}
 
.nav {
	flex: 1;
	margin-top: 1.8em;
}

.navwrapper a {
	text-decoration: none;
  	color: #fff;
  	display: block;
  	transition: .3s background-color;
}
 
.navwrapper a:hover {
	background-color: #42BCFF;
	padding: 1.5em;
}
 
.navwrapper a.active {
	background-color: #fff;
  	color: #444;
  	cursor: default;
}

#yourname {
	font-family: 'Droid Sans', sans-serif;
  	font-size: 0.60em;
  	font-weight: bold;
  	height: 2.5em;
  	padding: .2em 0.5em 0.5em 0.5em;
}
/* INDEX-SPECIFIC STYLES STARTS */

/* COURSE SEARCH SPECIFIC STYLES START */
#search-form label {
  display: block;
}
#search-results {
  font-size: 0.8em;
}
/* COURSE SEARCH SPECIFIC STYLES END */

/* Media Queries */

/*
  50em, size 2
*/
@media screen and (max-width: 50em) {

}

/*
  40em, size 3
*/
@media screen and (max-width: 40em) {

}

/*
  30em, size 4
*/
@media screen and (max-width: 30em) {

}

/*
  20em, size 5
*/
@media screen and (max-width: 20em) {

}

/*
  10em, size 6
*/
@media screen and (max-width: 10em) {

}
